.cols_password{
    border: 1px solid #848583;
    background: #FFFFFF;
   // border-radius: 20px 20px 20px 20px;
    // padding: 5px;
    // margin-top:3px;
}

ion-input{
    input::placeholder {
      color:#656661!important;
    }
}