.forgot_password_bg{
    .text_row{
        background:none; margin-top: 30px; text-align: center;
    }

    ion-row{
        margin-top: 17px;
    }

    ion-label{
        color:none; text-align: center;
        b{
            color: #6b9423;
        }
    }

    .forgot_password_form{
        background: none; width: 100%;
        .cols{
            background-color:rgb(206, 200, 200);color:#FFFFFF;
        }
        ion-icon{
            margin-top:12px; margin-right:10px; zoom:1.0;margin-left: 6px;
        }
        ion-input{
            margin-left: 2px;
            input::placeholder {
                color:white!important;
            }
        }
        button{
            background-color:#7EA515;
        }
    }
}