
<ion-header>

  <ion-navbar>
    <ion-title>Reviews</ion-title>
  </ion-navbar>

</ion-header>


<ion-content text-center>
<ion-spinner *ngIf="hideMe" name="bubbles" class="favorite_loading"></ion-spinner>

<ion-refresher (ionRefresh)="doRefresh($event)">
  <ion-refresher-content
    pullingIcon="refresh"
    pullingText="Refresh My Favorites"
    refreshingSpinner="circles"
    refreshingText="Refreshing...">
  </ion-refresher-content>
</ion-refresher>

<ion-list>
  <ion-item *ngFor = "let item of reviews">
    <ion-grid>
      <ion-row>
        <ion-col col-3>
          <h2 style="background:rgb(7, 206, 7);text-align: center;margin-top: 18px; color:white; padding: 4px;">{{item.rating}}</h2>
        </ion-col>
        
        <ion-col col-9 style="text-align: center; background: none;" >
            <ionic3-star-rating style="font:10px;"
            (ngModelChange)="onModelChange($event)"
            activeIcon = "star"
            defaultIcon = "star-outline"
            activeColor = "#CA6F1E" 
            defaultColor = "#AEB6BF"
            readonly="true"
            [rating]="item.rating">
          </ionic3-star-rating>
         
          <ion-row style="background:none">
            <ion-col col-5 style="background:none; text-align: end">
              <h2 style="color:cadetblue;">by</h2>
            </ion-col>
            
            <ion-col col-5 style="background:none; text-align: start">
              <b>{{item.name}}</b>
            </ion-col>
          </ion-row>  
          <ion-row style="background: none">
              <ion-col style="text-align: center;">
                  <p>{{item.time}}</p>
              </ion-col>
            </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>      
        
        

  <ion-item>
    <h2 style="color:rgb(7, 206, 7)">"Good jobs, will hire again"</h2>
    <p style="font-size: 15px">qwertyuioasdfghjklzxcvbnm,wertyuiopsdfghj
      klxcvbnmertyuiodfghjkxcvbnm</p>
  </ion-item>

</ion-item>

</ion-list>

<ion-infinite-scroll (ionInfinite)="loadMoreData($event, 4)">
  <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading More Vendor's Profile">

  </ion-infinite-scroll-content>
</ion-infinite-scroll>
</ion-content>
