
<ion-header>

  <ion-navbar>
    <ion-title>Reviews</ion-title>
  </ion-navbar>

</ion-header>


<ion-content text-center>
<ion-spinner *ngIf="hideMe" name="bubbles" class="favorite_loading"></ion-spinner>

<ion-refresher (ionRefresh)="doRefresh($event)">
  <ion-refresher-content
    pullingIcon="refresh"
    pullingText="Refresh My Favorites"
    refreshingSpinner="circles"
    refreshingText="Refreshing...">
  </ion-refresher-content>
</ion-refresher>

<ion-list>
  <ion-item *ngFor = "let item of reviews">
    <ion-grid>
      <ion-row>
        <ion-col col-2 style="background:rgb(7, 206, 7)">
          <h2 style="text-align: center;margin-top: 9px; color:white">{{item.rating}}</h2>
        </ion-col>
        <ion-col col-5 style="text-align: center" >
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <h3>{{item.name}}</h3>
        </ion-col>
        <ion-col col-5 style="text-align: end">
          <p>{{item.time}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item>
    <h2 style="color:rgb(7, 206, 7)">"Good jobs, will hire again"</h2>
    <p style="font-size: 15px">qwertyuioasdfghjklzxcvbnm,wertyuiopsdfghj
      klxcvbnmertyuiodfghjkxcvbnm</p>
  </ion-item>
</ion-list>

<ion-infinite-scroll (ionInfinite)="loadMoreData($event, 4)">
  <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading More Vendor's Profile">

  </ion-infinite-scroll-content>
</ion-infinite-scroll>
</ion-content>
