.show{
    position: absolute;
    border-radius: 2px;
    width: 90%;
    height: 75%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #c9c9ce;
}
.style{ border-radius: 110px;
    margin-left: 40%;
     margin-bottom:5%;
    border: 1px solid white;}